h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label, input {
  margin: 10px;
}

button {
  margin-top: 20px;
}

#resultado {
  text-align: center;
  margin-top: 20px;
}
